- content_for :collecion_list_items, flush: true do
  - <%= singular_table_name %>.<%= name %>.each do |item|
    .ui.basic.label{ class: '<%= item_class %>' }= item.<%= options[:display_method] %>

.brain-damage-collection-list{ class: '<%= display_class %>' }
  - if <%= singular_table_name %>.<%= name %>.any?
<% if collapsible? %>
    - if <%= singular_table_name %>.<%= name %>.count <= 3
      = yield :collecion_list_items

    - else
      .collapsible-content
        .header= "#{<%= singular_table_name %>.<%= name %>.first.<%= options[:display_method] %>} +#{<%= singular_table_name %>.<%= name %>.count-1}"
        .content
          = yield :collecion_list_items

<% else %>
    = yield :collecion_list_items
<% end %>

  - else
    = r 'brain_damage/empty'
