- content_for :collecion_list_items, flush: true do
<% if item_class %>
  - <%= singular_table_name %>.<%= name %>.each do |item|
    %div{ class: '<%= item_class %>' }= item.<%= options[:display_method] %>
<% else %>
  %div= <%= singular_table_name %>.<%= name %>.map(&:<%= options[:display_method] %>).join(', ')
<% end %>

.brain-damage-collection-list{ class: '<%= display_class %>' }
  - if <%= singular_table_name %>.<%= name %>.any?
<% if collapsible? %>
    - if <%= singular_table_name %>.<%= name %>.count <= 3
      = yield :collecion_list_items

    - else
      .collapsible-content
        .header= "#{<%= singular_table_name %>.<%= name %>.first.<%= options[:display_method] %>} +#{<%= singular_table_name %>.<%= name %>.count-1}"
        .content
<% if item_class %>
          - <%= singular_table_name %>.<%= name %>.each do |item|
            %div{ class: '<%= item_class %>' }= item.<%= options[:display_method] %>
<% else %>
          %div= <%= singular_table_name %>.<%= name %>.map(&:<%= options[:display_method] %>).join('<br />').html_safe
<% end %>

<% else %>
    = yield :collecion_list_items
<% end %>

  - else
    = r 'brain_damage/empty'
